a[href^="mailto:"] {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
a[href^="mailto:"]::before {
    font-family: "FontAwesome";
    font-size: 1.2em;
    content: "\f003";
    padding-right: 3px;
}
a[href^='mailto:']:hover {
    filter: grayscale(0%) !important;
    -webkit-filter: grayscale(0%) !important;
}
